* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    color: #FF4800;
}


/* Navbar Section */
#navbar .navbar-brand {
    font-size: 30px;
    color: #FF4800 !important;
}

#navbar .btn {
    background-color: #FF4800 !important;
    border: none;
}

#navbar .navbar-nav {
    margin-left: 28%;
}

#navbar .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #FF4800 !important;
}


/* Top-header Section */
#top-header .top-header-body{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/header.jpg');
    height: 50vh;
    background-size: cover;
}

#top-header .top-header-body h2 {
    color: #FF4800 !important;
    padding-top: 100px;
}

#top-header .top-header-body h1 {
    font-size: 65px;
}

/* About Section */
#about-section .about-story {
    margin-top: 100px;
}

/* Services Section */
#card-section h3 {
    color: #fff;
    background-color: #FF4800;
}

#choose-section img {
    height: 75vh;
    width: 90%;
}

#choose-section .choose-story {
    margin-top: 150px;
}

/* Response Team*/
#response-section .bg-card {
    background-color: #FF4800;
}

/* Contact Section */
#contact-section .contact-body {
    width: 60%;
    margin: 0 auto;
}


@media screen and (min-width: 320px) and (max-width: 426px){
    .container{
        width: 90% !important;
    }

    #top-header .top-header-body{
        height: 35vh !important;
    }

    #top-header .top-header-body h2{
        padding-top: 55px !important;
        font-size: 18px !important;
    }

    #top-header .top-header-body h1 {
        font-size: 40px !important;
    }

    #top-header .top-header-body p{
        font-size: 15px !important;
    }

    #about-section .about-story, #choose-section .choose-story{
        margin-top: 50px !important;
    }

    #choose-section img{
        width: 100% !important;
        height: 50vh !important;
    }

    #response-section .col{
        width: 90% !important;
        margin: 10px auto;
    }
    
    #contact-section .contact-body{
        width: 95% !important;
    }

}

@media screen and (min-width: 427px) and (max-width: 500px){
    .container {
        width: 90% !important;    
    }

    #top-header .top-header-body h2{
        padding-top: 80px !important;
    }

    #top-header .top-header-body h1 {
        font-size: 50px !important;
    }
    
    #contact-section .contact-body{
        width: 80% !important;
    }

    #response-section .col{
        width: 70% !important;
        margin: 10px auto;
    }

    #choose-section img{
        width: 100%;
    }

    #about-section .about-story{
        margin-top: 60px;
    }

    #choose-section .choose-story{
        margin-top: 70px;
    }
}

@media screen and (min-width: 501px) and (max-width: 769px){
    #top-header .top-header-body h2{
        padding-top: 200px !important;
    }

    #top-header .top-header-body h1 {
        font-size: 50px !important;
    }
    
    #contact-section .contact-body{
        width: 80% !important;
    }

    #about-section img{
        width: 100% !important;
    }

    #choose-section img{
        width: 100%;
    }

    #about-section .about-story{
        margin-top: 60px;
    }

    #choose-section .choose-story{
        margin-top: 70px;
    }

    #response-section .col{
        width: 70% !important;
        margin: 10px auto;
    }
}
